body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-size: 45px;
    font-weight: bold;
}
h3{
    font-size: 35px;
    font-weight: bold;
}
.h1{
    border-left: 4px solid rgb(5, 145, 155);
    padding-left: 2%;
    margin-top: 20%;
}
.colored-text{
    color: rgb(11, 218, 245);
}
.flexible{
    display: flex;
    margin-bottom: 40px;
}
.half-width{
    width: 50%;
    margin: 0% 5%;
}
.half-width img{
    height: 80%;
    width: 90%;
}
button{
    background-image: linear-gradient(rgb(11, 218, 245), rgb(128, 103, 241)) ;
    color: black;
    height: 50px;
    border-color: white;
    border-radius: 10px;
    font-weight: bolder;
}
.small{
    width: 120px;
}
.big{
    width: 220px;
}
.centre h2{
    text-align: center;
}
.bold{
    font-weight: bolder;
}
.mi-vi-go{
    width: 33%;
    padding: 2%;
    margin: 1.5%;
    border-radius: 15px; 
}
.mi-vi-go img{
    width: 30%;
}
#mission{
    background-color: rgb(253, 197, 253);
}
#vission{
    background-color: rgb(190, 248, 229);
}
#goal{
    background-color: cornsilk;
}
#block{
    display: block;
    color: rgb(3, 226, 241);
}
.col{
    display: block;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 1%;
} 
footer h3{
    font-family: "Lobster", cursive;
}