body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 2%;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
h3{
    font-size: 30px;
    font-weight: bold;
}
.h1{
    border-left: 2px solid tomato;
}
.colored-text{
    color: tomato;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
}
.half-width img{
    height: 80%;
    width: 70%;
}
button{
    background-color: orangered;
    color: white;
    border-color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}
.second h2{
    text-align: center;
}
.mi{
    background-color: violet;
    width: 33%;
    padding: 2%;
    margin: 1.5%;
    border-radius: 15px; 
}
.vi{
    background-color: pink; 
    width: 33%;
    padding: 2%;
    margin: 1.5%;
    border-radius: 15px;  
}
.go{
    background-color: royalblue;
    width: 33%;
    padding: 2%;
    margin: 1.5%;
    border-radius: 15px; 
}
.block{
    display: block;
}